* {
    box-sizing: border-box;
  }
  h1 {
    text-align: center;
    font-size: xx-large;
  }
  img {
    display: block;
    width: 150px;
    float: left;
    height: 150px;
    border: 2px solid lightblue;
  }
  #image-container {
    padding-left: 200px;
    border: 2px solid black;
    width: 800px;
    margin: 0 auto;
    height: 175px;
  }
  #firstimg,
  #secondimg,
  #thirdimg {
    width: 200px;
    margin: 10px;
    /* display: block; */
    /* margin: 0 auto; */
    border-radius: 10px;
  }
  span {
    margin-left: 50px;
  }
  #attempts {
    margin-top: 200px;
    font-size: 30px;
  }
  ul li{
      
      float: left;
      margin-top: 20px;
      font-size: 20px;
  }
  ul{
    width: 42%;
  }
  p{
    font-size: 20px;
    margin-top: 2%;

  }
  .note{
    color: red;
    transform: translateX(150px);
  transition: 5s;
  }
  img{
  
    
      width: 250px;
      height: 250px;
      margin: 50px;
      object-fit: cover;
      border: 2px solid red;
    
  }
  img:hover {
    transform: rotate(-45deg);
   transition: 5s;
  }
  